body#slidemenu {
	width: 100%;
	background: #005982;
	color: #fff;
	height: auto;
	overflow: hidden;
	padding: 1rem;
}
	#slidemenu h1,
	#slidemenu h2 {
		color: #fff;
		margin-top: 3rem;
	}
	#slidemenu h2 {
		font-size: 1.50em;
	}
	#holder-languages {
		margin-bottom: 2rem;
	}
		.language-flag {
			width: 45px;
			height: 29px;
		}
		.language-flag.selected {
			filter:alpha(opacity=100);
			-moz-opacity:1;
			-khtml-opacity: 1;
			opacity: 1;
		}
			.actions li a span {
				background: #167698;
			}
			.actions li a span.actions-icon {
				border-right: 1px solid #005982;
			}

	#shopping-cart li {
		color: #fff;
		margin-bottom: 1px;
		padding: 1rem 1.5rem;
		background: #2397ab;
	}
	#shopping-cart li:nth-child(5n) {
		background: #1685a1;
	}
		#shopping-cart li a {
			display: block;
			color: #fff;
			font-weight: 300;
			padding: .3rem 0;
		}
			#shopping-cart li a > span:nth-child(2n) {
				font-size: 1.3em;
			}
			#shopping-cart li a span.item,
			#shopping-cart li a span.subtotal {
				font-weight: 600;
			}
	.